{{ define "main" }}
    <main class="main content">
    	<div class="post__content clearfix">
    			{{ .Content }}
    	</div>
        {{/* the most recent post is rendered in full */}}
        {{/* thereafter, summaries */}}
        {{- range (where .Site.RegularPages "Type" "gallery").GroupByDate "2006" }}
            <h2>{{ substr .Key -1 4 }}</h2>
            {{- range .Pages }}
                {{- .Render "gallerysummary" }}
            {{- end }}
        {{- end }} {{/* group range */}}
    </main>
    {{ partial "pagination.html" . }}
{{ end }}
