{{ define "main" }}
<main class="main content">
	<h1>Selected links</h1>
	<div class="post__content clearfix">
		{{ .Content }}
	</div>
	<div id="content">
		{{ range $i, $v := $.Site.Data.links }}
			{{ with $v.group }}{{ $.Scratch.SetInMap "groups" . . }}{{ end }}

		{{ end }}
		<div class="two-col-container">
			{{/* this is the only way I found to sort the keys */}}
			{{ $.Scratch.Set "gnames" (sort ($.Scratch.GetSortedMapValues "groups")) }}
			{{ range $element := $.Scratch.Get "gnames" }}
				<div class="two-col-item">
					<h4 class="linkheading">{{ $element }}</h4>
					<ul>
						{{ range $.Site.Data.links }}
							{{ if eq .group $element }}
								<li>
									<a href="{{ .link }}" class="linkpage">{{ .title | html }}</a>
									{{ if .comment }}
										<span class="linkcomment"> - {{ .comment | html }}</span>
									{{ end }}
								</li>
							{{ end }}
						{{ end }}
					</ul>
					<br>
				</div>
		{{ end }}
	</div>
</main>
{{ end }}
